# Test file

Importing the necessary libraries such as pandas, numpy etc.

In [2]:
import pandas as pd
import numpy as np

Reading the excel file from the directory and creating the dataframe out of it and print it

In [3]:
df=pd.read_excel("Coursera Dataset copy.xlsx")

In [4]:
df

,Name,Division,Group,Department,Program Name,Course Name,Duration(in hrs),Completed,Enrollment Time,Completion Time,Learning Hours Spent,Course Grade,Skills Learned
0,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,The Define Phase for the 6 σ Black Belt,5.8,NaN,NaN,NaN,NaN,NaN,Trigonometric Integral; Lean Six Sigma; Six Si...
1,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,The Analyze Phase for the 6 σ Black Belt,7.5,NaN,NaN,NaN,NaN,NaN,Six Sigma; Training; Culture; Analysis; Leader...
2,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,The Measure Phase for the 6 σ Black Belt,10.8,NaN,NaN,NaN,NaN,NaN,Process Analysis; Process; Measurement; Genera...
3,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,DFSS for the 6 σ Black Belt,5.0,NaN,NaN,NaN,NaN,NaN,Trigonometric Integral; Six Sigma; Leadership ...
4,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,Team Management for the 6 σ Black Belt,2.5,NaN,NaN,NaN,NaN,NaN,Project; Conflict Management; Conflict Resolut...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6630,Person_1408,TQM and E&P,Projects & Construction TSK,Cold Rolling Mills - POG,School of Analytics-Basic,Data – What It Is What We Can Do With It,5.8,Yes,2023-02-15T11:48:06.000Z,2023-03-17T06:11:14.000Z,7.31,90.00,Data Visualization; Data Analysis; Analysis; P...
6631,Person_1409,TQM and E&P,Projects & Construction TSK,Cold Rolling Mills - POG,Operations Management Learning Program,Supply Chain Excellence,6.8,No,2023-04-02T14:10:21.000Z,NaN,2.09,33.23,Supply Chain; Finance; Chaining; Leadership an...
6632,Person_1409,TQM and E&P,Projects & Construction TSK,Cold Rolling Mills - POG,Operations Management Learning Program,Supply Chain Operations,7.6,NaN,NaN,NaN,NaN,NaN,Supply Chain; Trigonometric Integral; Lean Six...
6633,Person_1409,TQM and E&P,Projects & Construction TSK,Cold Rolling Mills - POG,School of Analytics-Basic,Data – What It Is What We Can Do With It,5.8,Yes,2023-02-12T12:04:42.000Z,2023-04-02T14:01:56.000Z,6.34,90.00,Data Visualization; Data Analysis; Analysis; P...
6634,Person_1409,TQM and E&P,Projects & Construction TSK,Cold Rolling Mills - POG,School of Analytics-Basic,Basic Data Descriptors Statistical Distributio...,8.9,NaN,NaN,NaN,NaN,NaN,General Statistics; Statistical Analysis; Prob...

Describe command is basically calculating the metrics of the numerical data 

We have three columns for the new numerical dataset namely:-
1. Duration(in hrs)
2. Learning Hours Spent(in Hrs)
3. Course Grade

In [5]:
df.describe()

       Duration(in hrs)  Learning Hours Spent  Course Grade
count       6635.000000           1738.000000   1738.000000
mean           7.788832              2.968953     41.338423
std            3.425742              3.892452     41.900973
min            1.600000              0.000000      0.000000
25%            5.800000              0.210000      0.000000
50%            6.600000              1.590000     22.500000
75%            8.900000              4.377500     87.890000
max           49.000000             40.940000    100.000000

In [6]:
df.columns

Index(['Name', 'Division', 'Group', 'Department', 'Program Name',
       'Course Name', 'Duration(in hrs)', 'Completed', 'Enrollment Time',
       'Completion Time', 'Learning Hours Spent', 'Course Grade',
       'Skills Learned'],
      dtype='object')

In this given dataset we have the following data columns basically namely:
           
 0)   Name                            (object) 
 1)   Division                        (object) 
 2)   Group                           (object) 
 3)   Department                     (object) 
 4)   Program Name                    (object) 
 5)   Course Name                     (object) 
 6)   Duration(in hrs)                (float64)
 7)   Completed                      (object)
 8)   Enrollment Time                (object) 
 9)   Completion Time                  (object) 
 10)  Learning Hours Spent            (float64)
 11)  Course Grade                    (float64)
 12)  Skills Learned                 (object)

In [7]:
df['Enrollment Time']

0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
                  ...
6630    2023-02-15T11:48:06.000Z
6631    2023-04-02T14:10:21.000Z
6632                         NaN
6633    2023-02-12T12:04:42.000Z
6634                         NaN
Name: Enrollment Time, Length: 6635, dtype: object

In [8]:
df.head()

,Name,Division,Group,Department,Program Name,Course Name,Duration(in hrs),Completed,Enrollment Time,Completion Time,Learning Hours Spent,Course Grade,Skills Learned
0,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,The Define Phase for the 6 σ Black Belt,5.8,NaN,NaN,NaN,NaN,NaN,Trigonometric Integral; Lean Six Sigma; Six Si...
1,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,The Analyze Phase for the 6 σ Black Belt,7.5,NaN,NaN,NaN,NaN,NaN,Six Sigma; Training; Culture; Analysis; Leader...
2,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,The Measure Phase for the 6 σ Black Belt,10.8,NaN,NaN,NaN,NaN,NaN,Process Analysis; Process; Measurement; Genera...
3,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,DFSS for the 6 σ Black Belt,5.0,NaN,NaN,NaN,NaN,NaN,Trigonometric Integral; Six Sigma; Leadership ...
4,Person_1,Operations - TSK,Steel & Mills - TSK,Steel Melting Shop & LCP TSK,Six Sigma Black Belt Learning Program,Team Management for the 6 σ Black Belt,2.5,NaN,NaN,NaN,NaN,NaN,Project; Conflict Management; Conflict Resolut...

In [9]:
print(df.head())

       Name          Division                Group  \
0  Person_1  Operations - TSK  Steel & Mills - TSK
1  Person_1  Operations - TSK  Steel & Mills - TSK
2  Person_1  Operations - TSK  Steel & Mills - TSK
3  Person_1  Operations - TSK  Steel & Mills - TSK
4  Person_1  Operations - TSK  Steel & Mills - TSK

                     Department                           Program Name  \
0  Steel Melting Shop & LCP TSK  Six Sigma Black Belt Learning Program
1  Steel Melting Shop & LCP TSK  Six Sigma Black Belt Learning Program
2  Steel Melting Shop & LCP TSK  Six Sigma Black Belt Learning Program
3  Steel Melting Shop & LCP TSK  Six Sigma Black Belt Learning Program
4  Steel Melting Shop & LCP TSK  Six Sigma Black Belt Learning Program

                                Course Name  Duration(in hrs) Completed  \
0   The Define Phase for the 6 σ Black Belt               5.8       NaN
1  The Analyze Phase for the 6 σ Black Belt               7.5       NaN
2  The Measure Phase for the 6 σ Black Belt              10.8       NaN
3               DFSS for the 6 σ Black Belt               5.0       NaN
4    Team Management for the 6 σ Black Belt               2.5       NaN

  Enrollment Time Completion Time  Learning Hours Spent  Course Grade  \
0             NaN             NaN                   NaN           NaN
1             NaN             NaN                   NaN           NaN
2             NaN             NaN                   NaN           NaN
3             NaN             NaN                   NaN           NaN
4             NaN             NaN                   NaN           NaN

                                      Skills Learned
0  Trigonometric Integral; Lean Six Sigma; Six Si...
1  Six Sigma; Training; Culture; Analysis; Leader...
2  Process Analysis; Process; Measurement; Genera...
3  Trigonometric Integral; Six Sigma; Leadership ...
4  Project; Conflict Management; Conflict Resolut...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6635 entries, 0 to 6634
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  6635 non-null   object
 1   Division              6635 non-null   object
 2   Group                 6635 non-null   object
 3   Department            6635 non-null   object
 4   Program Name          6635 non-null   object
 5   Course Name           6635 non-null   object
 6   Duration(in hrs)      6635 non-null   float64
 7   Completed             1738 non-null   object
 8   Enrollment Time       1738 non-null   object
 9   Completion Time       675 non-null    object
 10  Learning Hours Spent  1738 non-null   float64
 11  Course Grade          1738 non-null   float64
 12  Skills Learned        6635 non-null   object
dtypes: float64(3), object(10)
memory usage: 674.0+ KB

Giving the details of the total number of entries in each particular columns which are empty

In [11]:
df.isnull().sum()

Name                       0
Division                   0
Group                      0
Department                 0
Program Name               0
Course Name                0
Duration(in hrs)           0
Completed               4897
Enrollment Time         4897
Completion Time         5960
Learning Hours Spent    4897
Course Grade            4897
Skills Learned             0
dtype: int64

In [12]:
df.Completed

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6630    Yes
6631     No
6632    NaN
6633    Yes
6634    NaN
Name: Completed, Length: 6635, dtype: object

Replacing the not availible values as "Not Completed"

In [13]:
df['Completed'].fillna('Not Started Yet', inplace=True)

In [14]:
df.Completed

0       Not Started Yet
1       Not Started Yet
2       Not Started Yet
3       Not Started Yet
4       Not Started Yet
             ...
6630                Yes
6631                 No
6632    Not Started Yet
6633                Yes
6634    Not Started Yet
Name: Completed, Length: 6635, dtype: object

In [15]:
df.isnull().sum()

Name                       0
Division                   0
Group                      0
Department                 0
Program Name               0
Course Name                0
Duration(in hrs)           0
Completed                  0
Enrollment Time         4897
Completion Time         5960
Learning Hours Spent    4897
Course Grade            4897
Skills Learned             0
dtype: int64

In [16]:
df['Enrollment Time'].fillna('Not Applicable',inplace=True)

In [17]:
df['Enrollment Time']

0                 Not Applicable
1                 Not Applicable
2                 Not Applicable
3                 Not Applicable
4                 Not Applicable
                  ...
6630    2023-02-15T11:48:06.000Z
6631    2023-04-02T14:10:21.000Z
6632              Not Applicable
6633    2023-02-12T12:04:42.000Z
6634              Not Applicable
Name: Enrollment Time, Length: 6635, dtype: object

In [18]:
df['Learning Hours Spent'].fillna('Not Applicable',inplace=True)

In [19]:
df['Course Grade'].fillna('Not Applicable',inplace=True)

In [20]:
df.isnull().sum()

Name                       0
Division                   0
Group                      0
Department                 0
Program Name               0
Course Name                0
Duration(in hrs)           0
Completed                  0
Enrollment Time            0
Completion Time         5960
Learning Hours Spent       0
Course Grade               0
Skills Learned             0
dtype: int64

In [21]:
df['Course Grade']

0       Not Applicable
1       Not Applicable
2       Not Applicable
3       Not Applicable
4       Not Applicable
             ...
6630              90.0
6631             33.23
6632    Not Applicable
6633              90.0
6634    Not Applicable
Name: Course Grade, Length: 6635, dtype: object

In [22]:
df['Learning Hours Spent']

0       Not Applicable
1       Not Applicable
2       Not Applicable
3       Not Applicable
4       Not Applicable
             ...
6630              7.31
6631              2.09
6632    Not Applicable
6633              6.34
6634    Not Applicable
Name: Learning Hours Spent, Length: 6635, dtype: object

In [23]:
df.isnull().sum()

Name                       0
Division                   0
Group                      0
Department                 0
Program Name               0
Course Name                0
Duration(in hrs)           0
Completed                  0
Enrollment Time            0
Completion Time         5960
Learning Hours Spent       0
Course Grade               0
Skills Learned             0
dtype: int64

In [24]:
df['Completion Time']

0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
                  ...
6630    2023-03-17T06:11:14.000Z
6631                         NaN
6632                         NaN
6633    2023-04-02T14:01:56.000Z
6634                         NaN
Name: Completion Time, Length: 6635, dtype: object

In [25]:
df.isnull().sum()

Name                       0
Division                   0
Group                      0
Department                 0
Program Name               0
Course Name                0
Duration(in hrs)           0
Completed                  0
Enrollment Time            0
Completion Time         5960
Learning Hours Spent       0
Course Grade               0
Skills Learned             0
dtype: int64

In [26]:
df['Completion Time']

0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
                  ...
6630    2023-03-17T06:11:14.000Z
6631                         NaN
6632                         NaN
6633    2023-04-02T14:01:56.000Z
6634                         NaN
Name: Completion Time, Length: 6635, dtype: object

In [27]:
df1=df

In [28]:
df1['Completion Time']

0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
                  ...
6630    2023-03-17T06:11:14.000Z
6631                         NaN
6632                         NaN
6633    2023-04-02T14:01:56.000Z
6634                         NaN
Name: Completion Time, Length: 6635, dtype: object

This down there converts the time in the particular format wherein we use this parser type which makes the time format such as 
6630   2023-02-15 11:48:06+00:00 
            means 15 Feb 2023 and the time is 11:48:06 with the +00:00 format which means it is in the greenwich mean time

In [32]:
df1['Enrollment Time'] = pd.to_datetime(df1['Enrollment Time'], errors='coerce', format='%Y-%m-%d')

In [33]:
df1['Enrollment Time']

0                            NaT
1                            NaT
2                            NaT
3                            NaT
4                            NaT
                  ...
6630   2023-02-15 11:48:06+00:00
6631   2023-04-02 14:10:21+00:00
6632                         NaT
6633   2023-02-12 12:04:42+00:00
6634                         NaT
Name: Enrollment Time, Length: 6635, dtype: datetime64[ns, UTC]

In [34]:
df1['Completion Time']

0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
                  ...
6630    2023-03-17T06:11:14.000Z
6631                         NaN
6632                         NaN
6633    2023-04-02T14:01:56.000Z
6634                         NaN
Name: Completion Time, Length: 6635, dtype: object

In [36]:
df['Enrollment Time'] = pd.to_datetime(df['Enrollment Time'], errors='coerce', format='%Y-%m-%d')
df['Completion Time'] = pd.to_datetime(df['Completion Time'], errors='coerce', format='%Y-%m-%d')
df['Enrollment Time']
df['Completion Time']

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
6630   NaT
6631   NaT
6632   NaT
6633   NaT
6634   NaT
Name: Completion Time, Length: 6635, dtype: datetime64[ns]

In [37]:
df['Enrollment Time']

0                            NaT
1                            NaT
2                            NaT
3                            NaT
4                            NaT
                  ...
6630   2023-02-15 11:48:06+00:00
6631   2023-04-02 14:10:21+00:00
6632                         NaT
6633   2023-02-12 12:04:42+00:00
6634                         NaT
Name: Enrollment Time, Length: 6635, dtype: datetime64[ns, UTC]

In [38]:
df['Completion Time']

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
6630   NaT
6631   NaT
6632   NaT
6633   NaT
6634   NaT
Name: Completion Time, Length: 6635, dtype: datetime64[ns]

In [40]:
non_na_completion_time_values = df1['Completion Time'].dropna()

# Display the values
print(non_na_completion_time_values)

Series([], Name: Completion Time, dtype: datetime64[ns])

In [41]:
df['Completion Time']

0      NaT
1      NaT
2      NaT
3      NaT
4      NaT
        ..
6630   NaT
6631   NaT
6632   NaT
6633   NaT
6634   NaT
Name: Completion Time, Length: 6635, dtype: datetime64[ns]

In [42]:
df['Enrollment Time']

0                            NaT
1                            NaT
2                            NaT
3                            NaT
4                            NaT
                  ...
6630   2023-02-15 11:48:06+00:00
6631   2023-04-02 14:10:21+00:00
6632                         NaT
6633   2023-02-12 12:04:42+00:00
6634                         NaT
Name: Enrollment Time, Length: 6635, dtype: datetime64[ns, UTC]

In [43]:
df['Completion Time'].isnull().sum()

6635

In [ ]:
df1['Completion Time']